.ui.segment:first-of-type {
	margin-top: 20px;
}

.row:first-of-type {
	padding-bottom: 3px !important;
}

.row:last-of-type {
	padding-top: 3px !important;
}

.blog-title {
	font-size: 2.1rem !important;
	font-style: italic;
}

.blog-author {
	font-size: 1rem !important;
	color: rgba(0,0,0,0.7) !important;
}

.blog-time {
	font-size: 1rem !important;
	color: rgba(0,0,0,0.7) !important;
}

.blog-text {
	text-indent: .7rem;
	white-space: pre-wrap;
}