extends ../includes/layout
block body
  .ui.container
    .ui.clearing.raised.segment
      .ui.left.floated.buttons
        a.ui.primary.button(href="/blogs/add") Add Post
        if reverse === 'false'
          a.ui.vertical.animated.button(href="/?reverse=true", tabindex="0")
            .visible.content Default Sort
            .hidden.content Reverse Sort
        else
          a.ui.vertical.animated.button(href="/", tabindex="0")
            .visible.content Reverse Sort
            .hidden.content Default Sort
      .ui.bottom.right.attached.label
        i.mail.icon
        .detail #{blogs.length}
    if blogs[0]
      for blog in blogs
        include ../includes/blog
          
    else
      .ui.container.raised.segment(style="margin-top:15px;")
        h1.ui.header.center.aligned No posts to show