extends ../../includes/layout
block body
  .ui.container
    .ui.clearing.raised.segment
      .ui.left.floated.buttons
        a.ui.primary.button(href="/blogs/add") Add Post
        if reverse === 'false'
          a.ui.vertical.animated.button(href="/?reverse=true", tabindex="0")
            .visible.content
              i.icon.sort.amount.down
              | Default Sort
            .hidden.content
              i.icon.sort.amount.up
              | Reverse Sort
        else
          a.ui.vertical.animated.button(href="/", tabindex="0")
            .visible.content
              i.icon.sort.amount.up
              | Reverse Sort
            .hidden.content
              i.icon.sort.amount.down
              | Default Sort
      .ui.bottom.right.attached.label
        i.newspaper.outline.icon
        .detail #{blogs.length}
    if blogs[0]
      for blog in blogs
        include ../../includes/components/blog
          
    else
      .ui.container.raised.segment(style="margin-top:15px;")
        h1.ui.header.center.aligned No posts to show