<div class="top-header" id="aboutme-header">
  <div class="ui raised very padded text segment">
    <div class="ui container">
        <h1 class="ui center aligned header">
          <img src="/imgs/devonDress.png" class="portrait" />
        </h1>
        <span><a href="https://www.linkedin.com/in/dtroedel"><i class="fab fa-linkedin"></i></a><a href="https://github.com/ArcheKnight"><i class="fab fa-github-square"></i></a><a href="mailto:devon.troedel@gmail.com"><i class="fas fa-envelope-square"></i></a></span>
        <h1 class="ui center aligned header">
            Devon Troedel
        </h1>
        <p class="ui center aligned raised segment" id="aboutme-text">I graduated Arkansas Tech University with a Bachelors of Science in Mathematics with extra courses in Computer Science. 
        In my work I have created various applications and macros to increase the efficiency and effectiveness of myself and my coworkers. 
        Much of what I have learned I taught myself through practice, research, and online courses. 
        I have experience with NoSQL databases, NodeJS, Express, React, a variety of other frameworks and modules, and Jquery.</p>
    </div>
  </div>
</div>

<div class="ui inverted container raised segment" id="resume">
  <div class="ui embed active inverted placeholder"></div>
</div>