<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    
    include ./styles

    title= pageTitle
  body
    include ./topNavBar

    block body
      .ui.container.segment
        h1.center.aligned Are you sure your render file exists?
    
    include ./footer
    
    include ./scripts