header
  nav.ui.menu.blue
    if pageTitle === 'Home'
      a.active.item(href="/") Home
    else
      a.item(href="/") Home
    
    if pageTitle === 'Concatenate'
      a.active.item(href="/concatenate") Concatenate
    else
      a.item(href="/concatenate") Concatenate
    
    if pageTitle === 'Resources'
      a.active.item(href="/resources") Resources
    else
      a.item(href="/links") Resources
    
    if links
      .ui.dropdown.item
        i.angle.down.icon
        | Links
        .menu
          include links
    
    .right.menu
      .item
        .ui.transparent.icon.input
          input(type="text", placeholder="Search...", name="search")
          i.search.link.icon